body {
    margin: 20px;
    background: darkslategrey;
    color: black;
}

.link-to-page {
    float: right;
    margin: 0 2px 0 2px;
}

#div_id_deadline div {
    display: flex;
}

p, li, td, th {
    background-color:rgba(255, 255, 255, 1);
    color: black;
}